[submodule "riscv-gnu-toolchain"]
	path = utils/riscv-gnu-toolchain
	url = git@github.com:UBC-ORCA/riscv-gnu-toolchain.git
	branch = dev
[submodule "linux"]
    path = linux_cx
    url = git@github.com:Christopher-M-Dunn/linux-cxtg.git
    branch = cx_table_rebase
[submodule "qemu"]
    path = qemu_cx
    url = git@github.com:Christopher-M-Dunn/qemu-cxtg.git
    branch = cx_table_rebase
	
